<!DOCTYPE html>
<html>
<head>
    <title>Архив запросов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/archive.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <h1><a style=" text-decoration: none; color: inherit;" href="/">ГИС от команды Фруктики МИСиС</a></h1>
            <p>Профессиональное решение для работы с геоинформационными системами</p>
        </div>
    </header>
    <h1 class="header-name">Архив запросов</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Текст запроса</th>
                <th>Время</th>
                <th>Затраченное время</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['id'] }}</td>
                <td>{{ row['query_text'] }}</td>
                <td>{{ row['timestamp'] }}</td>
                <td>{{ row['elapsed_time'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
