<!DOCTYPE html>
<html>
<head>
    <title>Архив запросов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <h1>Архив запросов</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Текст запроса</th>
                <th>Время</th>
                <th>Затраченное время</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['id'] }}</td>
                <td>{{ row['query_text'] }}</td>
                <td>{{ row['timestamp'] }}</td>
                <td>{{ row['elapsed_time'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
