<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auth</title>
    <link rel="stylesheet" href="../static/auth.css">
    <link rel="stylesheet" href="../static/header.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1><a style=" text-decoration: none; color: inherit;" href="/">ГИС от команды Фруктики МИСиС</a></h1>
            <p>Профессиональное решение для работы с геоинформационными системами</p>
        </div>
    </header>
    <section class="login">
        <h2>Login</h2>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="button">Login</button>
        </form>
    </section>
    <script src="/static/auth.js"></script>
</body>
</html>
