<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ГИС Продукт</title>
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>ГИС от команды Фруктики МИСиС</h1>
            <p>Профессиональное решение для работы с геоинформационными системами</p>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <section class="description">
                <h2>О Продукте</h2>
                <p>Наш ГИС Продукт предоставляет мощные инструменты для работы с пространственными данными, включая анализ, визуализацию и управление геоданными. С нашим продуктом вы можете легко обрабатывать и анализировать большие объемы данных, а также создавать информативные карты и отчеты.</p>
            </section>
            <section class="features">
                <h2>Функциональные возможности</h2>
                <ul>
                    <li>Анализ пространственных данных</li>
                    <li>Создание интерактивных карт</li>
                    <li>Поиск и фильтрация данных</li>
                    <li>Экспорт данных в различные форматы</li>
                </ul>
            </section>
            <section class="actions">
                <h2>Действия</h2>
                <div class="grid-container">
                    <div class="button-container">
                        <a href="/intersections" class="button">Пересечения</a>
                        <p>Анализ и отображение пересечений геометрий на карте</p>
                    </div>
                    <div class="button-container">
                        <a href="/maps" class="button">Карты</a>
                        <p>Просмотр и управление полными картами, поиск и фильтрация данных</p>
                    </div>
                    <div class="button-container">
                        <a href="/archive" class="button">Архив запросов</a>
                        <p>Просмотр архива запросов</p>
                    </div>
                    <div class="button-container">
                        <a href="/space" class="button">Космоснимки</a>
                        <p>Анализ космоснимков</p>
                    </div>
                    <div class="button-container">
                        <a href="/dashboard" class="button">Дашборды</a>
                        <p>Анализ дашбордов</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Фруктики МИСиС. Все права защищены.</p>
        </div>
    </footer>
    <script src="/static/index.js"></script>
</body>
</html>
