<!DOCTYPE html>
<html>
<head>
    <title>Пересечения карт</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../static/intersections.css" />
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/footer.css" />
    <link rel="stylesheet" href="../static/progressBar.css" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
</head>
<body class="intersections-page">
     <header class="header">
        <div class="container">
            <h1 class="h1-header"><a style=" text-decoration: none; color: inherit;" href="/">ГИС от команды Фруктики МИСиС</a></h1>
            <p class="p-header">Профессиональное решение для работы с геоинформационными системами</p>
        </div>
    </header>
    <h1>Пересечения карт</h1>
    <div class="droplist-container">
        <div id="map-select-1" class="dropdown">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <!-- Map options will be appended here by JavaScript -->
            </div>
        </div>
    </div>
    <button class="intersection" onclick="showIntersections()">Показать пересечения</button>

    <div id="map"></div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Фруктики МИСиС. Все права защищены.</p>
        </div>
    </footer>
    <script src="/static/intersections.js"></script>
</body>
</html>
