<!DOCTYPE html>
<html>
<head>
    <title>Полные карты и поиск</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../static/maps.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@7.0.0/turf.min.js"></script>

</head>
<body class="maps-page">
    <h1>Поиск земельного участка</h1>
    <form id="search-form">
        <label for="cadastra">Кадастровый номер:</label>
        <input type="text" id="cadastra" name="cadastra">
        <input type="submit" value="Поиск">
        <input type="reset" value="Сброс" onclick="resetMarkers()">
        <input type="button" value="Экспорт в XLSX" onClick="exportToXLSX()"/>
        <input type="button" value="Экспорт в SHP" onClick="exportToSHP()"/>
    </form>
    <form id="search-address-form">
        <label for="address">Адрес:</label>
        <input type="text" id="address" name="address">
        <input type="submit" value="Поиск по адресу">
    </form>

    <label for="filter-select">Выбор фильтров:</label>
    <div id="filter-select">
        <!-- Filter options will be appended here by JavaScript -->
    </div>
    <button type="button" id="apply-filters" onclick="applyFilters()">Применить фильтры</button>

    <label for="map-select">Выбор карт:</label>
    <div id="map-select" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="changeMap()">
            Выбрать карты
        </button>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonLongNarrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="viewLongNarrowLayers()">
            показать узкие и длинные территории
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- Map options will be appended here by JavaScript -->
        </div>
    </div>

    <a href="/archive">Архив запросов</a>
    <a href="/dashboard">Дашборды</a>

    <div id="progress">
        <div id="progress-bar"></div>
    </div>
    <div id="map"></div>

    <h2>Выбранные объекты</h2>
    <ul id="selected-list"></ul>

    <script src="/static/maps.js"></script>
</body>
</html>
