<!DOCTYPE html>
<html>
<head>
    <title>Cosmos Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/space.css" />
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/footer.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1><a style=" text-decoration: none; color: inherit;" href="/">ГИС от команды Фруктики МИСиС</a></h1>
            <p>Профессиональное решение для работы с геоинформационными системами</p>
        </div>
    </header>
    <h1>Анализ Космоса</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <label for="file">Выберете tif файл:</label>
        <input type="file" id="file" name="file" accept=".tif">
        <input type="submit" value="Upload and Analyze">
    </form>
    <script src="/static/space.js"></script>
</body>
</html>
